# AWS Credentials
# used for API Calls via AWS SDK for Ruby
access_key_id: dummy
secret_access_key: dummy

# AMIs in which region should be requested
#
# support
# ap-northeast-1
# ap-southeast-1
# eu-west-1
# sa-east-1
# us-east-1
# us-west-1
# us-west-2
region: us-east-1

# AMIs of which owner ID should be requested
# e.g. 099720109477 [Ubuntu Canonical]
owner_id: 099720109477

# the login user for the AMIs
#
# input all your "potential" login users
# with comma separated
# and NO comma at the end
#
# prioritize your login users
# i.e. the first login user will be checked first
login_users: root,ubuntu,ec2-user

# security mechanism of AWS EC2
key_pair: lehoanganh
group: AMI-Introspection

# the chunk size defines how many AMIs the crawler can introspect simultaneously
# due to Amazon EC2 rules, it is not possible to launch more than 20 instances at one time
# so, for the best performance let the chunk size min. 1, max. 10
chunk_size: 5